/* Generamos las variables para aplicar todas las fuentes */
@font-face {
    font-family: 'CuteNotes';
    src: url('../fonts/Cute\ Notes.ttf') format('truetype');
    font-weight:1000;
    font-style:normal;
 }
 @font-face {
    font-family: 'Itim';
    src: url('../fonts/Itim.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
 }
 @font-face {
    font-family: 'King';
    src: url('../fonts/KIN668.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
 }
 
 
 /* hacer que las letras tiemblen */
 @keyframes tembleque1 {
    0% { transform: translateY(0); }
    25% { transform: translateY(-5px); }
    50% { transform: translateY(5px); }
    75% { transform: translateY(-5px); }
    100% { transform: translateY(0); }
 }
 
 
 @keyframes tembleque2 {
    0% { transform: translateY(0); }
    20% { transform: translateY(3px); }
    40% { transform: translateY(-3px); }
    60% { transform: translateY(3px); }
    80% { transform: translateY(-3px); }
    100% { transform: translateY(0); }
 }
 
 
 @keyframes tembleque3 {
    0% { transform: translateY(0); }
    30% { transform: translateY(-10px); }
    60% { transform: translateY(10px); }
    100% { transform: translateY(0); }
 }
 
 
 @keyframes tembleque4 {
    0% { transform: translateY(0); }
    50% { transform: translateY(7px); }
    100% { transform: translateY(0); }
 }
 
@keyframes tembleque5 {
   0% { transform: translateY(0); }
   40% { transform: translateY(-3px); }
   80% { transform: translateY(3px); }
   100% { transform: translateY(0); }
}

h1 {
    font-size:44px;
}
body {
    background-color: #CD92F2;
    font-family: Itim;
    margin:0px;
    width:vh;
    margin:auto;
}
a {
    text-decoration: none;
    color: inherit;
}

.Charr{
    font-family: "Itim";
    float:right;
    margin:-50px 170px 0px 0px;
    display: flex;
    font-size: 38px;
}
p{
    font-size: 38px;
    text-align: justify;
}
video-bg {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }  
h1.main_title {
    position:fixed; 
    top: 50%;
    left: 50%;
    color:#CD96F2;
    font-size: 44px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    z-index: 1;
}
img.main_title {
    position: sticky; 
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1; 
}
div.main_title{
    text-align: center;
    margin:700px 100%;;
    font-size: 50px;
    color: white;
    text-align: center;
    padding: 5px;
    background-color: #490080;
    border-radius: 60px;
}
h1.subtitle{
    margin:0px 0px 15px 100px;
    font-size:44px;
}
div.download_button {
    font-size: 50px;
    color: white;
    text-align: center;
    padding: 5px;
    background-color: #490080;
    margin: 10px 500px 10px 500px;
    border-radius: 60px;
}
p.download_button{
    text-align: center;
}
span.header{
    font-size:56px;
}
img.img_l{
    width:40%;
    height:auto;
    margin:20px 50px;
    float:left;
    border-radius: 25px;
}
img.img_r{
    width:40%;
    height:auto;
    margin:20px 50px;
    float:right;
    border-radius: 25px;
}
div.text{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 90vw;
    margin-bottom: 100px;
    gap: 40px;
}
div.text-content{
    display:flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
}
div.character-text{
    text-align: justify;
    height: 30%;
    width: 90%;
    margin: 300px 25px;
}
div.main{
    margin: 10px;
    text-align: center;
    width:vh;
}
footer{
    background-color: #8025C6;
    width: 100%;
    padding:25px;
    box-sizing:content-box;
}
.aboutus{
    color:white;
    text-align: center;
    font-weight:900;
    font-size: 88px;
    margin:auto;
}
img.logo{
    width:250px;
    height:auto;
    margin:auto;
    position:static;
}
img.pfp{
    width: 100%;
    height: auto;
    display: block;
    border-radius: 50%;
}
div.team{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 100px; 
    max-width: 1500px;
    width: 100%;
    margin:auto;
    overflow-x:auto;
}
div.pfp{
    overflow: hidden;
    text-align: center;
}
h2.pfp{
    font-size: 46px;
    font-weight: 900px;
}
p.pfp{
    font-size: 32px;
}
.Merch_text {
    margin: 10px;
}
.card h2 {
    font-size: 1.5rem;
    margin: 15px 0 10px;
}
.card p {
    font-size: 1rem;
    margin: 0 15px 15px;
    color: #555;
}
.offer span {
    color: #FF3B3B;
}

@keyframes SlideSlow {
    0% {
        top: 800px;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}

@font-face { 
    font-family: 'Itim';
    src: url('fonts/Itim.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.chartext{
    margin: 100px -1400px 0px 1100px;
    padding:0px 300px 0px  0px;

}

.tooltip {
    position: absolute;
    display: none;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-align: justify;
    font-size: 20px;
    max-width: 400px;
}
area.map-pointer{
    cursor:pointer;
}

.tooltip img {
    width: 100%;
    border-radius: 5px;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }


  @keyframes blink {
    50% { border-color: transparent; }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center; /* Optional for vertical centering */
    
  }

  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      align-items: center;
    }
  }
h1 {
    size:32px;
    
}
body {
    background-image: url(../images/background-2.jpeg);
    font-family: "Itim";
    color:white;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/background-2.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    filter: blur(10px);
    z-index: -1;
 }

 

p{
    font-family: 'Itim';
}
h1.main_title {
    color: #cd96f2;
    font-size: 44px;
}

div.game{
    background-color: #111;
    width: 100%;
    margin: 0px;
    padding: 10px 0px;
}
h1.GAME{
    font-family:'CuteNotes';
    text-align: center;
    font-size:100px;
    position: relative;
    text-align: center;
    letter-spacing: -35px;
}

.GAME span{
    display: inline-block;
}

span.tembleque1{    animation: tembleque1 3s ease-in-out infinite;}
span.tembleque2{    animation: tembleque2 3s ease-in-out infinite;}
span.tembleque3{    animation: tembleque3 3s ease-in-out infinite;}
span.tembleque4{    animation: tembleque4 3s ease-in-out infinite;}
span.tembleque5{    animation: tembleque5 3s ease-in-out infinite;}

h2.loretitle{
    font-family:'Itim';
    font-size: 56px;
}

h2.LORE{
    font-family:'Itim';
}

h3.charlotte{
    font-family:'Itim';
    font-size: 70px;
    display:flex;
    padding: 0px px 0px 0px;
}

h3.Squack{
    font-family:'Itim';
    margin: 0px 0px 0px 0px;
    font-size: 70px;
}

h3.Lissette{
    font-family:'Itim';
    margin: 0px 0px 0px 0px;
    font-size: 70px;
}

.SECTITTLE{
    text-align:center;
    font-size: 40px;
    animation: SlideSlow 2s ease-out forwards;
    position: relative;
}

.words{
    text-align:justify;
    color:rgb(0, 0, 0);
    margin: 50px 150px 0px 150px;
    font-size: 36px;
    animation: SlideSlow 2s ease-out forwards;
    position: relative;

}

.wordss{
    text-align:justify;
    color:rgb(255, 255, 255);
    font-size: 36px;
    animation: SlideSlow 2s ease-out forwards;
    position: relative;



}

h2.contactus_{
    font-size: 40px;
    padding-bottom: 80px;

}

.LORE{
    text-align:center;
    font-size: 40px;
    animation: SlideSlow 2s ease-out forwards;
    position: relative;
    margin: -200px 0px 0px 0px;
    
}

.charlotte{
    text-align:right;
    margin: 0px 0px 600px 0px;
    font-size: 38px;
    font-family:'Itim';
    padding: 0px 900px 0px 0px;
    display:flex;

}

    

  
h2.Contactus{
    font-family:'Itim';
}

.char{
    float:left;
    margin: -1000px 0px -1000px 300px;
    padding:-900px 0px 0px 0px;
    width: 30%;
    height: 30%;

}

.Squack{
    
    margin: -120px 1000px 0px 290px;
    font-size: 38px;
    text-align: justify;
}



.squa{

    width: 30%;
    height: 30%;
    float:right;
    margin: -570px 160px -710px 910px;
    


}

.Lissette{
    
    text-align:right;
    margin: 500px 130px 0px 1200px;
    font-size: 38px;


}

.lisse{

    width: 30%;
    height: 30%;
    float:left;
    margin: -400px 0px 0px 270px;

   
}

.SECTITTLE{
    text-align:center;
    margin: 100px 0px 0px 0px;
    background-color:#8025C6;
    padding: 50px 300px;

    
}

h2.playabilit{
    font-family:'Itim';
    font-size: 40px;

}

.phone{
    float:left;
    margin: 0px 0px 0px 700px;
    transition:transform 0.3s ease-in-out;


}

.phone.hover{
    filter: drop-shadow(0px 0px 15px rgba(255, 255, 255, 0.8));
    transform: scale(1.2);
}

.mail{
    
    margin: 0px 0px 0px 700px;
    transition:transform 0.3s ease-in-out;
}

.mail:hover{
    filter: drop-shadow(0px 0px 15px rgba(53, 100, 255, 0.8));
    transform: scale(1.2);

}

.number{
    margin:-100px 0px 0px 1000px;
    float:left;
    font-size: 38px;

}

.thunderbird{
    margin: -200px 0px 200px 1010px;
    float:left;
    font-size: 38px;
    
}

h2.contactus_{
    font-family:'Itim';

}


.tuto{
    width: 25%;
    height: 25%;
}

.page{
    width:vh;
}

.instagram{
    width: 5%;
    height: 10%;
    margin: 0px 0px 0px 700px;
    transition:transform 0.3s ease-in-out;
    filter: drop-shadow(0px 0px 0px rgba(255, 0, 255, 0.5));

}

.instagram:hover {
    filter: drop-shadow(0px 0px 15px rgba(255, 0, 255, 0.8));
    transform: scale(1.2);

}

/* barra lateral */
.sidebar {
    height: 100vh;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    z-index: 10;
  }
  .sidebar a {
    padding: 10px 10px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  .sidebar a:hover {
    background-color: #575757;
  }
  .open-btn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  #mainidk {
    transition: margin-left 0.3s;
    padding: 16px;
  }
  div.hover-area {
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    height: 100vh;
    background-color: transparent;
    z-index: 10;
  }
  img.hover{
    width: 50px;
    height: 50px;
    filter:invert(100%);
    margin:25px ;
  }
  img.item{
    margin:0px 25px 25px 25px;
    width: 200px;
    height: auto;
  }
  div.item{
    width:250px;
    background-color: #490080;
    border-top:#111 5px solid;
    border-bottom:#111 5px solid;
  }
 
 

.x{
    width: 9%;
    height: 9%;
    transition:transform 0.3s ease-in-out;
    
}

.x:hover {
    filter: drop-shadow(0px 0px 15px rgba(255, 255, 255, 0.8));
    transform: scale(1.2);
    
}

.facebook{

    width: 10%;
    height: 10%;
    margin: -7px 0px 0px 0px;
    transition:transform 0.3s ease-in-out;
   


}

.facebook:hover {
    filter: drop-shadow(0px 0px 15px rgba(53, 100, 255, 0.8));
    transform: scale(1.2);
}

.utube{

    width: 7%;
    height: 7%;
    transition:transform 0.3s ease-in-out;
    
   
    
}


.utube:hover {
    filter: drop-shadow(0px 0px 15px rgba(255, 0, 0, 0.8));
    transform: scale(1.2);
}


  

.redes{
    background-color:#8025C6;
    padding: 50px 0px;
    animation: SlideSlow 2s ease-out forwards;
    position: relative;
    margin:auto;
    display: block;
    
}




.Contactus{
    text-align: center;
    font-size: 38px;
    animation: SlideSlow 2s ease-out forwards;
    position: relative;
    margin:auto;
}

h2.loretitle{
    text-align: center;
    font-size: 100px;
    animation: SlideSlow 2s ease-out forwards;
    position: relative;
    color:crimson;
    font-family:'King',sans-serif;
}

.lore2{
    width:1100px;
    box-sizing: content-box;
    background-image: url("../images/pergaminonew.png");
    background-size: cover;
    padding: 300px 300px;
    margin:auto;
    margin-top:100px;
    margin-bottom: 150px;
    height: 1200px;

}
.CHARACTERS{

    margin: 300px 0px;
    padding: 50px;
}

.page{
    font-family:'Itim';
}


img.char {
    opacity: 0; /* Invisible inicialmente */
    transform: translateY(50px); /* Desplazamiento hacia abajo */
    transition: opacity 1s ease, transform 1s ease; /* Transición para el desvanecimiento y el movimiento */
}

/* Cuando la imagen se vuelve visible */
.char.visible {
    opacity: 1; /* Hace la imagen visible */
    transform: translateY(0); /* La mueve a su posición original */
}

img.squa {
    opacity: 0; /* Invisible inicialmente */
    transform: translateY(50px); /* Desplazamiento hacia abajo */
    transition: opacity 1s ease, transform 1s ease; /* Transición para el desvanecimiento y el movimiento */
}

/* Cuando la imagen se vuelve visible */
.squa.visible {
    opacity: 1; /* Hace la imagen visible */
    transform: translateY(0); /* La mueve a su posición original */
}

img.lisse {
    opacity: 0; /* Invisible inicialmente */
    transform: translateY(50px); /* Desplazamiento hacia abajo */
    transition: opacity 1s ease, transform 1s ease; /* Transición para el desvanecimiento y el movimiento */
}

/* Cuando la imagen se vuelve visible */
.lisse.visible {
    opacity: 1; /* Hace la imagen visible */
    transform: translateY(0); /* La mueve a su posición original */
}

img.tuto {
    opacity: 0; /* Invisible inicialmente */
    transform: translateY(50px); /* Desplazamiento hacia abajo */
    transition: opacity 1s ease, transform 1s ease; /* Transición para el desvanecimiento y el movimiento */
}

/* Cuando la imagen se vuelve visible */
.tuto.visible {
    opacity: 1; /* Hace la imagen visible */
    transform: translateY(0); /* La mueve a su posición original */
}

img.mail {
    opacity: 0; /* Invisible inicialmente */
    transform: translateY(50px); /* Desplazamiento hacia abajo */
    transition: opacity 1s ease, transform 1s ease; /* Transición para el desvanecimiento y el movimiento */
}

/* Cuando la imagen se vuelve visible */
.mail.visible {
    opacity: 1; /* Hace la imagen visible */
    transform: translateY(0); /* La mueve a su posición original */
}


img.phone {
    opacity: 0; /* Invisible inicialmente */
    transform: translateY(50px); /* Desplazamiento hacia abajo */
    transition: opacity 1s ease, transform 1s ease; /* Transición para el desvanecimiento y el movimiento */
}

/* Cuando la imagen se vuelve visible */
.phone.visible {
    opacity: 1; /* Hace la imagen visible */
    transform: translateY(0); /* La mueve a su posición original */
}

h2.chartitle {
    text-align: center;
    font-family:'Itim';
    font-size: 90px;
}



.texti {
    opacity: 0; 
    transform: translateY(30px); 
    transition: opacity 1s ease, transform 1s ease; 
  }
  

  .texti.visible {
    opacity: 1; 
    transform: translateY(0); 
  }

h3.maptitle {
    text-align: center;
    font-family:'Itim';
    margin: 0px 0px 80px 0px;
    font-size: 70px;
}
span.green {
    color: #7CEA72;
    text-decoration: underline;
}