@font-face {
    font-family: 'CHALKTALK';
    src: url('../fonts/CHALKTALK.ttf') format('truetype');
    font-weight:1000;
    font-style:normal;
}
@font-face {
    font-family: 'Decorya';
    src: url('../fonts/Decorya\ DEMO.ttf') format('truetype');
    font-weight:1000;
    font-style:normal;
}
@font-face {
    font-family: 'King';
    src: url('../fonts/KIN668.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{
    margin:0px;
    bottom: 0px;
}

.home{
    background-color: black;
    border:none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 15px;
    position: absolute;
    top: 8px;
    right: 250px;
    margin-top: 5px;
    font-family: 'King';
    border-radius: 3px;
}

.home:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

.game{
    border:none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 15px;
    position: absolute;
        top: 8px;
    right: 150px;
      
}
.merch{
    border:none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 15px;
    position: absolute;
    top: 8px;
    right: 70px;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.recuadro {
    background-color: rgb(31, 31, 31);
    box-sizing: border-box;
    width: 100%;
    height: 15%;
}
a:link {
    text-decoration: none;
}
.margenL1 {
    margin-left: 40px;
    font-size: 80px;
    font-family: 'CHALKTALK';
}
.margenL2 {
    margin-left: 50px;
    font-size: 44px;
    margin-top: 20px;
    font-family: 'CHALKTALK';
}
.text{
    font-family: 'Decorya';
    font-size: 30px;
    font-weight: 300;
    margin-left:70px;
    margin-right: 60px;
    text-align: justify;
    word-spacing: 5px;
}
.footer {
    width: 100%; 
    height: 150px;
    background-color: black;
    margin: 0px;
    position: fixed;
    bottom: 0px;
}
.footertext{
    color: white;
    
}
table{

    color: white;
    border-spacing: 20px;
    text-align: justify;
    font: bold;
    position: relative;
    bottom: 120px;
    left: 70%;
}
.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-left: 10px;
    position: relative;
    left: 100px;
}


.imgposition {
    position: relative;
    top: 28px;
}
